version: "3.9"

services:
  open-llm-vtuber:
    image: openllmvtuber/open-llm-vtuber:latest
    container_name: open-llm-vtuber-latest
    ports:
      - "12393:12393"

    volumes:
      - D:\OLV-Docker-Config:/app/conf

    restart: unless-stopped
