version: "3.9"

services:
  open-llm-vtuber:
    image: openllmvtuber/open-llm-vtuber:localtest
    container_name: open-llm-vtuber-localtest
    ports:
      - "12393:12393"

    extra_hosts:
      - "host.docker.internal:host-gateway"

    volumes:
      - D:\OLV-Docker-Config:/app/conf

    restart: unless-stopped
