version: "3.9"

services:
  open-llm-vtuber:
    image: openllmvtuber/open-llm-vtuber:localtest
    container_name: open-llm-vtuber
    ports:
      - "12393:12393"

    extra_hosts:
      - "host.docker.internal:host-gateway"

    volumes:
      - ./conf:/app/conf

      - ./models:/app/models

    restart: unless-stopped
